@use "@patternfly/patternfly/utilities/Text/text.css";
@import "@patternfly/patternfly/patternfly.scss";
@import "@patternfly/patternfly/utilities/Spacing/spacing.css";
@import "@patternfly/patternfly/components/DataList/data-list.scss";
@import "@patternfly/patternfly/layouts/Flex/flex.scss";


li {
  margin-top: 0px !important;
}

.pf-c-list__item-icon i {
  font-size: var(--pf-global--FontSize--sm);
}

#following {
  margin-top: 10px;
}

#following li {
  display: inline;
}

#locations {
  margin-bottom: 10px;
}

td img {
  vertical-align: middle;
}

#top-search input {
  width: 270px;
}

#known-key {
  margin-top: 30px;
}

.pf-c-empty-state__icon {
  margin-bottom: 10px !important;
}

.pf-c-title {
  margin-bottom: 10px !important;
}
